## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [4]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [5]:
# Your code here
sample_list_1=random.sample(range(101),80) #range 101 because we want have number between 0 - 100
print(sample_list_1)

[22, 0, 77, 33, 58, 32, 83, 21, 68, 38, 64, 48, 88, 95, 56, 61, 14, 92, 89, 78, 71, 20, 7, 44, 26, 74, 59, 75, 81, 46, 65, 8, 13, 87, 15, 100, 4, 91, 96, 31, 72, 3, 12, 54, 73, 10, 6, 94, 23, 27, 16, 41, 51, 80, 76, 34, 70, 39, 11, 24, 49, 36, 66, 35, 99, 47, 53, 85, 17, 19, 86, 1, 42, 2, 52, 60, 5, 50, 29, 82]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [6]:
# Your code here
set1=set(sample_list_1)
print(set1)
len(set1)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 10, 11, 12, 13, 14, 15, 16, 17, 19, 20, 21, 22, 23, 24, 26, 27, 29, 31, 32, 33, 34, 35, 36, 38, 39, 41, 42, 44, 46, 47, 48, 49, 50, 51, 52, 53, 54, 56, 58, 59, 60, 61, 64, 65, 66, 68, 70, 71, 72, 73, 74, 75, 76, 77, 78, 80, 81, 82, 83, 85, 86, 87, 88, 89, 91, 92, 94, 95, 96, 99, 100}

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [7]:
# Your code here
sample_list_2=[random.randint(0,101) for i in range(80)]
print(sample_list_2)

[98, 69, 51, 15, 6, 61, 98, 21, 91, 61, 51, 33, 76, 46, 49, 19, 47, 81, 32, 94, 27, 4, 63, 44, 87, 85, 53, 90, 47, 99, 11, 48, 46, 9, 21, 77, 3, 70, 8, 90, 18, 92, 29, 90, 29, 84, 75, 28, 22, 85, 32, 33, 33, 32, 34, 54, 42, 61, 69, 30, 7, 65, 97, 96, 97, 18, 40, 5, 2, 65, 6, 14, 16, 16, 38, 96, 7, 15, 58, 31]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [8]:
# Your code here
set2=set(sample_list_2)
print(set2)
len(set2)  #do not have 80 values, because there are not unique values in sample_list_2

{2, 3, 4, 5, 6, 7, 8, 9, 11, 14, 15, 16, 18, 19, 21, 22, 27, 28, 29, 30, 31, 32, 33, 34, 38, 40, 42, 44, 46, 47, 48, 49, 51, 53, 54, 58, 61, 63, 65, 69, 70, 75, 76, 77, 81, 84, 85, 87, 90, 91, 92, 94, 96, 97, 98, 99}

56

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [9]:
# Your code here
set3=set([i for i in set1 if not i in set2])
print(set3)

{0, 1, 10, 12, 13, 17, 20, 23, 24, 26, 35, 36, 39, 41, 50, 52, 56, 59, 60, 64, 66, 68, 71, 72, 73, 74, 78, 80, 82, 83, 86, 88, 89, 95, 100}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [10]:
# Your code here
set4=set([j for j in set2 if not j in set1])
print(set4)

{97, 98, 69, 40, 9, 18, 84, 90, 28, 30, 63}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [11]:
# Your code here
set5=set([k for k in set1 if k in set2])
print(set5)

{2, 3, 4, 5, 6, 7, 8, 11, 14, 15, 16, 19, 21, 22, 27, 29, 31, 32, 33, 34, 38, 42, 44, 46, 47, 48, 49, 51, 53, 54, 58, 61, 65, 70, 75, 76, 77, 81, 85, 87, 91, 92, 94, 96, 99}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [12]:
# Your code here
print(len(set1)==len(set3)+len(set5))
print(len(set2)==len(set4)+len(set5))
print(len(set1)-len(set3)==len(set2)-len(set4))

True
True
True

#### Create an empty set called `set6`.

In [13]:
# Your code here
set6=set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [14]:
# Your code here
set6.update(set3,set5)
print(set6)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 10, 11, 12, 13, 14, 15, 16, 17, 19, 20, 21, 22, 23, 24, 26, 27, 29, 31, 32, 33, 34, 35, 36, 38, 39, 41, 42, 44, 46, 47, 48, 49, 50, 51, 52, 53, 54, 56, 58, 59, 60, 61, 64, 65, 66, 68, 70, 71, 72, 73, 74, 75, 76, 77, 78, 80, 81, 82, 83, 85, 86, 87, 88, 89, 91, 92, 94, 95, 96, 99, 100}

#### Check if `set1` and `set6` are equal.

In [15]:
# Your code here
print(set1==set6)

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [17]:
# Your code here
print(set2.issubset(set1)) #all the numbers in set2 are not in set1 (return False)
print(set3.issubset(set1)) #all the numbers in set3 are in set1 (set3 = the elements present in set1 but not in set2) (return True)

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [18]:
# Your code here
print(set3.union(set4,set5)==set1.union(set2))

True

#### Using the `pop` method, remove the first element from `set1`.

In [19]:
# Your code here
print(set1)
set1.pop()  #use pop to eliminate the first element in th set
print(set1)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 10, 11, 12, 13, 14, 15, 16, 17, 19, 20, 21, 22, 23, 24, 26, 27, 29, 31, 32, 33, 34, 35, 36, 38, 39, 41, 42, 44, 46, 47, 48, 49, 50, 51, 52, 53, 54, 56, 58, 59, 60, 61, 64, 65, 66, 68, 70, 71, 72, 73, 74, 75, 76, 77, 78, 80, 81, 82, 83, 85, 86, 87, 88, 89, 91, 92, 94, 95, 96, 99, 100}
{1, 2, 3, 4, 5, 6, 7, 8, 10, 11, 12, 13, 14, 15, 16, 17, 19, 20, 21, 22, 23, 24, 26, 27, 29, 31, 32, 33, 34, 35, 36, 38, 39, 41, 42, 44, 46, 47, 48, 49, 50, 51, 52, 53, 54, 56, 58, 59, 60, 61, 64, 65, 66, 68, 70, 71, 72, 73, 74, 75, 76, 77, 78, 80, 81, 82, 83, 85, 86, 87, 88, 89, 91, 92, 94, 95, 96, 99, 100}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [20]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

for i in list_to_remove:
    if i in set1:
        set1.remove(i)  #use remove to eliminate a element in the set

print(set1)

{2, 3, 4, 5, 6, 7, 8, 10, 12, 13, 14, 15, 16, 17, 20, 22, 23, 24, 26, 27, 32, 33, 34, 35, 36, 38, 42, 44, 46, 47, 48, 50, 52, 53, 54, 56, 58, 60, 64, 65, 66, 68, 70, 72, 73, 74, 75, 76, 77, 78, 80, 82, 83, 85, 86, 87, 88, 92, 94, 95, 96, 100}