## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [7]:
# Your code here
sample_list_1=random.sample(range(101),80) #range 101 because we want have number between 0 - 100
print(sample_list_1)

[54, 98, 67, 93, 15, 29, 80, 85, 66, 25, 49, 59, 65, 4, 68, 83, 26, 18, 31, 7, 76, 56, 62, 42, 22, 20, 10, 2, 84, 40, 19, 81, 97, 48, 21, 33, 17, 87, 73, 38, 9, 1, 35, 16, 86, 70, 3, 58, 60, 37, 44, 100, 13, 95, 74, 92, 14, 89, 5, 61, 47, 39, 94, 99, 11, 28, 82, 55, 12, 30, 41, 57, 63, 75, 90, 23, 77, 88, 72, 71]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [28]:
# Your code here
set1=set(sample_list_1)
print(set1)
len(set1)

{1, 2, 3, 4, 5, 7, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 25, 26, 28, 29, 30, 31, 33, 35, 37, 38, 39, 40, 41, 42, 44, 47, 48, 49, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 65, 66, 67, 68, 70, 71, 72, 73, 74, 75, 76, 77, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 92, 93, 94, 95, 97, 98, 99, 100}

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [22]:
# Your code here
sample_list_2=[random.randint(0,101) for i in range(80)]
print(sample_list_2)

[37, 95, 28, 18, 82, 11, 66, 6, 87, 92, 34, 17, 15, 33, 0, 91, 75, 34, 81, 2, 47, 78, 97, 85, 46, 89, 24, 53, 12, 63, 91, 69, 91, 47, 41, 62, 70, 90, 12, 88, 85, 90, 95, 89, 88, 23, 78, 30, 24, 96, 25, 46, 89, 95, 94, 94, 25, 98, 95, 21, 27, 97, 79, 38, 16, 6, 40, 86, 3, 76, 19, 85, 48, 69, 31, 98, 58, 53, 50, 78]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [26]:
# Your code here
set2=set(sample_list_2)
print(set2)
len(set2)  #do not have 80 values, because there are not unique values in sample_list_2

{0, 2, 3, 6, 11, 12, 15, 16, 17, 18, 19, 21, 23, 24, 25, 27, 28, 30, 31, 33, 34, 37, 38, 40, 41, 46, 47, 48, 50, 53, 58, 62, 63, 66, 69, 70, 75, 76, 78, 79, 81, 82, 85, 86, 87, 88, 89, 90, 91, 92, 94, 95, 96, 97, 98}

55

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [25]:
# Your code here
set3=[i for i in set1 if not i in set2]
print(set3)

[1, 4, 5, 7, 9, 10, 13, 14, 20, 22, 26, 29, 35, 39, 42, 44, 49, 54, 55, 56, 57, 59, 60, 61, 65, 67, 68, 71, 72, 73, 74, 77, 80, 83, 84, 93, 99, 100]

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [27]:
# Your code here
set4=[j for j in set2 if not j in set1]
print(set4)

[0, 6, 24, 27, 34, 46, 50, 53, 69, 78, 79, 91, 96]

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [29]:
# Your code here
set5=[k for k in set1 if k in set2]
print(set5)

[2, 3, 11, 12, 15, 16, 17, 18, 19, 21, 23, 25, 28, 30, 31, 33, 37, 38, 40, 41, 47, 48, 58, 62, 63, 66, 70, 75, 76, 81, 82, 85, 86, 87, 88, 89, 90, 92, 94, 95, 97, 98]

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [42]:
# Your code here
len(set1)==len(set3)+len(set5)
len(set2)==len(set4)+len(set5)
len(set1)-len(set3)==len(set2)-len(set4)

True

#### Create an empty set called `set6`.

In [ ]:
# Your code here

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [ ]:
# Your code here

#### Check if `set1` and `set6` are equal.

In [ ]:
# Your code here

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [ ]:
# Your code here

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [ ]:
# Your code here

#### Using the `pop` method, remove the first element from `set1`.

In [ ]:
# Your code here

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [ ]:
# Your code here