# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources in the README.md file
- Happy learning!

In [111]:
# Import reduce from functools, numpy and pandas
from functools import reduce 
import numpy as np

# Challenge 1 - Mapping

#### We will use the map function to clean up words in a book.

In the following cell, we will read a text file containing the book The Prophet by Khalil Gibran.

In [112]:
# Run this code:

location = '../data/58585-0.txt'
with open(location, 'r', encoding="utf8") as f:
    prophet = f.read().split(' ')

#### Let's remove the first 568 words since they contain information about the book but are not part of the book itself. 

Do this by removing from `prophet` elements 0 through 567 of the list (you can also do this by keeping elements 568 through the last element).

In [113]:
# your code here
for i in range (568):
    prophet.pop(0)

If you look through the words, you will find that many words have a reference attached to them. For example, let's look at words 1 through 10.

In [114]:
# your code here
prophet[0:10]

['PROPHET\n\n|Almustafa,',
 'the{7}',
 'chosen',
 'and',
 'the\nbeloved,',
 'who',
 'was',
 'a',
 'dawn',
 'unto']

#### The next step is to create a function that will remove references. 

We will do this by splitting the string on the `{` character and keeping only the part before this character. Write your function below.

In [115]:
def reference(x):
    '''
    Input: A string
    Output: The string with references removed
    
    Example:
    Input: 'the{7}'
    Output: 'the'
    '''
    # your code here
    divided_word=x.split('{')  #we divided the word in 2 parts, and we only use the first
    
    return divided_word[0]

Now that we have our function, use the `map()` function to apply this function to our book, The Prophet. Return the resulting list to a new list called `prophet_reference`.

In [117]:
# your code here
prophet_reference=list(map(reference, prophet)) #in function map, first:function "clean", second: iterable

Another thing you may have noticed is that some words contain a line break. Let's write a function to split those words. Our function will return the string split on the character `\n`. Write your function in the cell below.

In [118]:
def line_break(x):
    '''
    Input: A string
    Output: A list of strings split on the line break (\n) character
        
    Example:
    Input: 'the\nbeloved'
    Output: ['the', 'beloved']
    '''
    
    # your code here
    divided_words=x.split('\n') #we divided the "word" in different parts if this words has "\n"
   
    #now we clean the strings "" that the new mini-list has after the split.
    divided_words_clean=[words for words in divided_words if words!='']
    
    return divided_words_clean

Apply the `line_break` function to the `prophet_reference` list. Name the new list `prophet_line`.

In [119]:
# your code here
prophet_line=list(map(line_break,prophet_reference))

If you look at the elements of `prophet_line`, you will see that the function returned lists and not strings. Our list is now a list of lists. Flatten the list using list comprehension. Assign this new list to `prophet_flat`.

In [120]:
# your code here
prophet_flat=[word for i in prophet_line for word in i] #we use 2 for loops and add the word in the new list.
prophet_flat[0:10] #we see that he new list also has strings

['PROPHET',
 '|Almustafa,',
 'the',
 'chosen',
 'and',
 'the',
 'beloved,',
 'who',
 'was',
 'a']

# Challenge 2 - Filtering

When printing out a few words from the book, we see that there are words that we may not want to keep if we choose to analyze the corpus of text. Below is a list of words that we would like to get rid of. Create a function that will return false if it contains a word from the list of words specified and true otherwise.

In [122]:
def word_filter(x):
    '''
    Input: A string
    Output: True if the word is not in the specified list 
    and False if the word is in the list.
        
    Example:
    word list = ['and', 'the']
    Input: 'and'
    Output: False
    
    Input: 'John'
    Output: True
    '''
    
    word_list = ['and', 'the', 'a', 'an']
    
    # your code here
    if x in word_list:
        return False
    else:
        return True

Use the `filter()` function to filter out the words speficied in the `word_filter()` function. Store the filtered list in the variable `prophet_filter`.

In [123]:
prophet_filter=list(filter(word_filter,prophet_flat))
prophet_filter[25:40]

['return',
 'bear',
 'him',
 'back',
 'to',
 'isle',
 'of',
 'his',
 'birth.',
 'And',
 'in',
 'twelfth',
 'year,',
 'on',
 'seventh']

# Bonus Challenge

Rewrite the `word_filter` function above to not be case sensitive.

In [124]:
def word_filter_case(x):
   
    word_list = ['and', 'the', 'a', 'an']
    
    # your code here
    if x.lower() in word_list:
        return False
    else:
        return True

In [126]:
prophet_filter=list(filter(word_filter_case,prophet_flat))
prophet_filter[25:40]

['return',
 'bear',
 'him',
 'back',
 'to',
 'isle',
 'of',
 'his',
 'birth.',
 'in',
 'twelfth',
 'year,',
 'on',
 'seventh',
 'day']

# Challenge 3 - Reducing

#### Now that we have significantly cleaned up our text corpus, let's use the `reduce()` function to put the words back together into one long string separated by spaces. 

We will start by writing a function that takes two strings and concatenates them together with a space between the two strings.

In [127]:
def concat_space(a, b):
    '''
    Input:Two strings
    Output: A single string separated by a space
        
    Example:
    Input: 'John', 'Smith'
    Output: 'John Smith'
    '''
    
    # your code here
    return a + ' ' + b

Use the function above to reduce the text corpus in the list `prophet_filter` into a single string. Assign this new string to the variable `prophet_string`.

In [128]:
# your code here
prophet_string=reduce(concat_space,prophet_filter)
prophet_string[0:100]

'PROPHET |Almustafa, chosen beloved, who was dawn unto his own day, had waited twelve years in city o'

# Challenge 4 - Applying Functions to DataFrames

#### Our next step is to use the apply function to a dataframe and transform all cells.

To do this, we will connect to Ironhack's database and retrieve the data from the *pollution* database. Select the *beijing_pollution* table and retrieve its data.

In [129]:
# your code here
url ='https://archive.ics.uci.edu/ml/machine-learning-databases/00381/PRSA_data_2010.1.1-2014.12.31.csv'
pollution=pd.read_csv(url,sep=',',index_col='No')

Let's look at the data using the `head()` function.

In [130]:
# your code here
pollution.head()

    year  month  day  hour  pm2.5  DEWP  TEMP    PRES cbwd    Iws  Is  Ir
No
1   2010      1    1     0    NaN   -21 -11.0  1021.0   NW   1.79   0   0
2   2010      1    1     1    NaN   -21 -12.0  1020.0   NW   4.92   0   0
3   2010      1    1     2    NaN   -21 -11.0  1019.0   NW   6.71   0   0
4   2010      1    1     3    NaN   -21 -14.0  1019.0   NW   9.84   0   0
5   2010      1    1     4    NaN   -20 -12.0  1018.0   NW  12.97   0   0

The next step is to create a function that divides a cell by 24 to produce an hourly figure. Write the function below.

In [131]:
def hourly(x):
    '''
    Input: A numerical value
    Output: The value divided by 24
        
    Example:
    Input: 48
    Output: 2.0
    '''
    
    # your code here
    return x/24

Apply this function to the columns `Iws`, `Is`, and `Ir`. Store this new dataframe in the variable `pm25_hourly`.

In [135]:
# your code here
pm25_hourly=pollution[['Iws','Is','Ir']].apply(hourly) #select the columns and apply the function.
pm25_hourly.head()

         Iws   Is   Ir
No
1   0.074583  0.0  0.0
2   0.205000  0.0  0.0
3   0.279583  0.0  0.0
4   0.410000  0.0  0.0
5   0.540417  0.0  0.0

#### Our last challenge will be to create an aggregate function and apply it to a select group of columns in our dataframe.

Write a function that returns the standard deviation of a column divided by the length of a column minus 1. Since we are using pandas, do not use the `len()` function. One alternative is to use `count()`. Also, use the numpy version of standard deviation.

In [133]:
def sample_sd(x):
    '''
    Input: A Pandas series of values
    Output: the standard deviation divided by the number of elements in the series
        
    Example:
    Input: pd.Series([1,2,3,4])
    Output: 0.3726779962
    '''
    
    # your code here
    return np.std(x)/(x.count()-1)

In [136]:
pm25_hourly_std=pm25_hourly.apply(sample_sd)
pm25_hourly_std.head()

Iws    4.754929e-05
Is     7.229519e-07
Ir     1.346183e-06
dtype: float64